<!--div class="modal-container" *ngIf="isOpen">
    <div class="modal-overlay" (click)="close(true)"></div>
      <div class="app-modal">
    <div class="title">
    <h3 *ngIf="modalTitle" [innerHTML]="modalTitle"></h3>
    <button *ngIf="!blocking && closebtn"
        class="btn-close" (click)="close()">X</button>
    </div>
    <div class="body">
      <ng-content></ng-content>
    </div>
  </div>
</div-->
<!-- Modal Trigger >
<a href="#modal" class="waves-effect waves-light btn modal-trigger" (click)="openModal()">Modal</a-->
<!-- Modal Structure -->  
<div id="modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Cancelamento</h4>
    <p>{{ message }}</p>
  </div>
  <div class="modal-footer">
    <button (click)="choose(false)" class="modal-action modal-close waves-effect btn-flat ">Não</button>
    <button (click)="choose(true)" class="modal-action modal-close waves-effect btn-flat">Sim</button>
  </div>
</div> 